# Setup Telegram Bot
TOKEN=                            # telegram bot token
MASTER=                           # telegram username of single master (@user1) or multiple masters (@user1,@user2,@user3)
UPDATE_MAX_ITERATIONS=3           # times (0 = disabled)
REMOVE_ID_OLDER_THAN=604800       # seconds (0 = disabled) for welcome message

# Setup Transmission RPC (if trasmission is default)
RPC_URL=http://localhost:9091/transmission/rpc  # default url
USERNAME=transmission                           # default username
PASSWORD=transmission                           # default password

TRANSMISSION_DOWNLOAD_LOCATION=/var/lib/transmission-daemon/downloads/  # default path for transmission downloads
DEFAULT_TORRENT_LOCATION=../data/torrents                               # default path for torrent files
DEFAULT_MOVE_LOCATION=../data/downloads                                 # default path for moved files (after move command) - if empty, files won't be moved

# DEFAULT_MOVE_LOCATION="/media/<USER>/NEW VOLUME/test_move"            # example: copy to an using an usb


# Optional logging
BOT_LOGFILE=../log/bot.log                  # if empty, logs will be printed only to stdout
VERBOSE=1                                   # 0 = major events, 1 = debug