# Configurazione Telegram Bot
TOKEN=your_telegram_bot_token_here
MASTER=your_telegram_username # - MASTER può essere multiplo, separato da virgola: MASTER=user1,user2,user3
UPDATE_MAX_ITERATIONS=5 # times (0 = disabled)

# Configurazione Transmission RPC
RPC_URL=http://localhost:9091/transmission/rpc
USERNAME=transmission_username
PASSWORD=transmission_password

# Directory dove salvare i file .torrent inviati al bot (prima di passarli a Transmission)
DEFAULT_TORRENT_LOCATION=../data/torrents

# Opzioni di logging
BOT_LOGFILE=../log/bot.log # if empty, logs will be printed to stdout
VERBOSE=0 #impostare a 1 per abilitare il logging verbose (equivalente a -verbose)